/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    
    /*========== Color Scheme ==========*/
    --lightest-color: #D9D8D9;
    --lighter-color: #B3A3BA;
    --light-color: #8D769A;
    --dark-color: #685078;
    --darker-color: #28193D;
    --darkest-color: #10091d;
    --text-color: #f4f3ee;

    /*======= Font and typography =====*/
    --body-font: 'Open Sans', sans-serif;
    --big-font-size: 3rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2.25rem;
    --h3-font-size: 1.5rem;
    --larger-font-size: 1.2rem;
    --large-font-size: 1.125rem;

    /*========== Font weight ==========*/
    --weight-300: 300;
    --weight-400: 400;
    --weight-600: 600;
    }

    /*=============== BASE ===============*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      
      }
    
    body {
        font-family: var(--body-font);
        height: 100vh;
    }

    /*=============== REUSABLE CSS CLASSES ===============*/

    /*=============== LOADING ==================*/
    .loading-page {
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to left, #B3A3BA, #685078, #10091d);
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;
    }

    #svg {
        height: 150px;
        width: 100px;
        stroke: #fff;
        fill-opacity: 0;
        stroke-width: 3px;
        stroke-dasharray: 4500;
        animation: draw 4s ease;
    }

    @keyframes draw {
    0% {
        stroke-dashoffset: 4500;
    }
    100% {
        stroke-dashoffset: 0;
    }
    }

    .logo-name {
        color: #fff;
        font-size: var(--h3-font-size);
        letter-spacing: 12px;
        text-transform: uppercase;
        margin-left: 20px;
    }


/*=============== HEADER ==================*/
/*=============== NAVIGATION ==============*/
/*=============== BUTTON ==================*/
/*=============== BREAKPOINTS =============*/
