/*=============== GOOGLE FONTS ===============*/

:root {
    /*========== Color Scheme ==========*/
    --lightest-color: #D9D8D9;
    --lighter-color: #B3A3BA;
    --light-color: #8D769A;
    --dark-color: #685078;
    --darker-color: #28193D;
    --darkest-color: #10091d;

    /*======= Font and typography =====*/
}


/*=============== HEADER ==================*/
/*=============== NAVIGATION ==============*/
/*=============== BUTTON ==================*/
/*=============== BREAKPOINTS =============*/
